body{
	font-family: Myriad pro, sans-Serif;
	font-weight: 100;
	margin: 0px;
	text-align: center;
	line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

#wrapper{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background: url(img/header_hackathon.jpg);
	min-height: 500px;
	height: auto;
	margin-top: -25px;
	margin-bottom: 25px;	
	padding-top: 25px;
}
#header_text_img_wrapper{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#header_text{
	float: left;
	max-width: 500px;
	color: #fff;
	font-size: 30px;
}

#header_img{
	float: right;
	max-width: 600px;
}

h1{
	font-weight: 100;
	color: rgba(30, 98, 153, 0.91);
}

h2{
	font-size: 50px;
	font-weight: 100;
	color: #fff;
}

a{
	text-decoration:none;
}

.error{
	color: #red;
}

.menubarframe{
	background: rgba(30, 98, 153, 0.91);
	min-height: 60px;
	margin-bottom: 25px;
	z-index: 99;
}

.menubarframe2{
	margin-left: auto;
	margin-right: auto;
	max-width: 1080px;
	font-size: 20px;
}

.menubar div{
	float: right;
	padding: 17px 0px 0px 0px;
	margin: 0px 0px 30px 30px;

}

.menubar div a{
	text-decoration: none;
	color: #fff;
	float: left;
		
}

button, .button{
	background: none;
	border: 1px solid rgba(30, 98, 153, 0.91);
	color: rgba(30, 98, 153, 0.91);;
	border-radius: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 40px;
	min-width:  204px;
	font-size: 20px;
	font-weight: 100;
	font-family: Myriad pro, sans-Serif;
	cursor: pointer;
	display: inline-block;
}

button:hover, #button:hover{
	background: rgba(30, 98, 153, 0.35);
}

input:not([type="checkbox"]){
	background:  none;
	border: 1px solid rgba(30, 98, 153, 0.91);
	color: rgba(30, 98, 153, 0.91);;
	border-radius: 5px;
	padding-top: 5px;
	height: 25px;
	min-width:  200px;
	font-size: 15px;
	font-weight: 100;
	font-family: Myriad pro, sans-Serif;
}

inputerror{
	color: #red;
}

table{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	margin-top: 25px;
	border: 1px solid rgba(30, 98, 153, 0.91);
	border-radius: 5px;
}

td{
	max-width: 200px;
	border: 1px solid rgba(30, 98, 153, 0.91);
	border-radius: 1px;
}

#eventcheckbox_wrapper{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.eventcheckbox{
	min-width: 200px;
}

.list{
	border: 1px solid rgba(30, 98, 153, 0.91);
	border-radius: 5px;
	width: 420px;
	display: inline-block;
}

#event_link{
	border: 1px solid rgba(30, 98, 153, 0.91);
	border-radius: 5px;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	background: rgba(30, 98, 153, 0.91);
	min-height: 60px;
	margin-bottom: 0px;
	margin-top: 25px;
	color: #fff;
	padding: 15px;
}

td, th {
	padding: 3px;
	padding-right: 15px;
	padding-left: 10px;
	font-weight: 100;
}

tr {
}